/* estilo global del cuerpo de la pagina */
body, html {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: radial-gradient(circle, #e8e6d2, #eaebfb);
}

/* contenedor principal */
.container {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* cabecera */
.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.header input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Lista de los productos */
.product-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.product-list h3 {
    margin-top: 20px;
    color: #333;
}

/* botones dentro de la lista de productos */
.product-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #1a5276;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
}

.product-list button:hover {
    background-color: #002442;
}

/* total de la compra */
.total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1b4f72;
}

/* Botón de acciones */
.green-btn {
    padding: 18px 20px;
    margin: 5px;
    background-color: #1b4f72;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.green-btn:hover {
    background-color: #002442;
}

/* Estilo del popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    font-size: 30px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    float: right;
    padding: 3px 12px;
}

/* titulo principal */
#tituloPrincipal {
    font-family: Georgia, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #1b4f72;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 25px;
}

/* Títulos de categorías dentro de la lista de productos */
.product-list h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* boton de eliminar */
.delete-history-btn, .red-btn {
    background-color: #dc3545;
    font-weight: bold;
    color: white;
    border: none;
    padding: 17px 16px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.delete-history-btn:hover, .red-btn:hover {
    background-color: #c82333;
}

/* botones de la seccion de edicion */
.edit-section button {
    width: auto;
    text-align: left;
}

.edit-section .blue-btn {
    background-color: #154360;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 4px;
}

.edit-section .blue-btn:hover {
    background-color: #07253e;
}

/* estilo de la seccion de edicion */
.edit-section {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-top: 10px;
}

.edit-section h4 {
    color: #343a40;
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-section div {
    margin: 5px 0;
}

/* eliminar bordes de los botones */
button {
    outline: none;
    border: none;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    #tituloPrincipal {
        font-size: 40px; /* Ajusta el tamaño del título en pantallas pequeñas */
    }

    .container {
        padding: 10px; /* Añade un pequeño relleno en pantallas más pequeñas */
    }

    .header input {
        font-size: 12px; /* Reduce el tamaño de la fuente del input */
        padding: 8px; /* Menos relleno en el campo de entrada */
    }

    .product-list {
        padding: 5px; /* Menos relleno dentro de la lista */
    }

    .total {
        font-size: 18px; /* Reduce el tamaño de la fuente en el total */
    }

    .green-btn {
        padding: 12px 15px; /* Ajusta el tamaño del botón */
    }

    .popup-content {
        width: 90%; /* Hace que el popup ocupe el 90% del ancho */
    }

    .edit-section {
        padding: 5px; /* Menos relleno dentro de la sección de edición */
    }
}

@media (max-width: 480px) {
    .product-list button {
        padding: 8px; /* Reduce el tamaño del botón */
    }

    .green-btn {
        padding: 10px 12px; /* Botón un poco más pequeño */
    }

    .header input {
        font-size: 10px; /* Ajuste adicional del tamaño del texto en dispositivos pequeños */
    }

    .popup-content {
        width: 95%; /* El popup ocupa el 95% del ancho */
        padding: 15px; /* Relleno más pequeño */
    }

    .total {
        font-size: 16px; /* Tamaño de texto más pequeño en el total */
    }
}
